In [20]:
words = ['abigail','advice','antic','antismoking']
text = ""
for w in words:
    text = text + " " + w
text

' abigail advice antic antismoking'

In [21]:
[w.upper() for w in words]

['ABIGAIL', 'ADVICE', 'ANTIC', 'ANTISMOKING']

In [22]:
import numpy as np
#scores = np.random.randint(5, 100, size=10)

In [23]:
scores = [87, 47, 39, 36, 6, 57, 82, 45, 90, 89]
p = -1
for i in range(len(scores)):
    if scores[i]==36:
        p = i

In [24]:
names = ['Olivia', 'Emma', 'Ava', 'Charlotte', 'Sophia', 'Amelia',
         'Isabella', 'Mia', 'Evelyn', 'Harper']
scores = [87, 47, 39, 36, 6, 57, 82, 45, 90, 89]
v = 0
results = []
for n,s in zip(names,scores):
    v += s
    results.append(f"{n}: {s}")

In [25]:
results

['Olivia: 87',
 'Emma: 47',
 'Ava: 39',
 'Charlotte: 36',
 'Sophia: 6',
 'Amelia: 57',
 'Isabella: 82',
 'Mia: 45',
 'Evelyn: 90',
 'Harper: 89']

In [26]:
# import pandas as pd
# df = pd.read_csv("../data/baby-names.csv")
# rank = df['rank'].values
# male = df['male'].values
# female = df['female'].values
names =   [[1, 'Liam', 'Olivia'],
           [2, 'Noah', 'Emma'],
           [3, 'Oliver', 'Ava'],
           [4, 'Elijah', 'Charlotte'],
           [5, 'William', 'Sophia'],
           [6, 'James', 'Amelia'],
           [7, 'Benjamin', 'Isabella'],
           [8, 'Lucas', 'Mia'],
           [9, 'Henry', 'Evelyn'],
           [10, 'Alexander', 'Harper']]

In [27]:
rank = [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]
male = ['Liam', 'Noah', 'Oliver', 'Elijah', 'William', 'James', 'Benjamin',
        'Lucas', 'Henry', 'Alexander']
female = ['Olivia', 'Emma', 'Ava', 'Charlotte', 'Sophia', 'Amelia',
        'Isabella', 'Mia', 'Evelyn', 'Harper']

for

SyntaxError: invalid syntax (<ipython-input-27-f61a907997dd>, line 7)

In [ ]:
A=[[48, 53, 65, 67, 26],
   [ 4, 74, 12, 56, 97],
   [67, 50, 80, 45,  0],
   [60, 28, 80, 28, 61],
   [21,  1, 37, 58, 45]]

s = 0
n = 5
for i in range(n):
    for j in range(n):
        s += A[i][j]
s

In [ ]:
s = 0
n = 5
for i in range(n):
    for j in range(n):
        if i == j:
            s += matrix[i][j]
s

In [ ]:
np.array(np.random.randint(0, 100, size=25).reshape(5,5))

In [ ]:
a = "501"
b = 501

In [ ]:
x = 7
y = 7

In [ ]:
id(x), id(y)

In [ ]:
b = a
id(a), id(b)

In [ ]:
from lolviz import *

In [ ]:
a = [1,3,5]
b = [1,3,5]
callsviz(varnames=['a','b'])

In [ ]:
b = a
callsviz(varnames=['a','b'])

In [ ]:
a[2] = 99
callsviz(varnames=['a','b'])

In [ ]:
a

In [ ]:
b

In [ ]:
callsviz(varnames=['a','b'])

In [ ]:
def f(data):
    print(id(data))

foo = [1,3,5]
print(id(foo))
f(foo)

In [ ]:
prices = np.array([1,3,5])
[p if p>1 else 99 for p in prices]

In [ ]:
import numpy as np
np.where(prices>1)

In [ ]:
names =['a','b','c']
scores = [100,70,30]
list(zip(names,scores))

In [ ]:
for x,y in zip(names,scores):
    print(x,y)

In [ ]:
sum(scores)

In [ ]:
import math

In [ ]:
dir(math)

In [ ]:
type(math.pi)

In [ ]:
import numpy

In [ ]:
dir(numpy)

In [ ]:
numpy.random.randint(3)

In [ ]:
dir(numpy.random)

In [ ]:
numpy.random

In [ ]:
from lolviz import callsviz, objviz
objviz({1,3,54})
#callsviz(varnames=['names','scores'])

In [ ]:
sum([1,3,5])

In [ ]:
type(sum)

In [ ]:
from numpy import sum

In [ ]:
np.sum

In [ ]:
from lolviz import callsviz
objviz({1,3,54})
callsviz(varnames=['names','scores'])

In [ ]:
import numpy.random

In [ ]:
numpy.random.randint(3)

In [ ]:
def foo():
    print("hi mom")

In [ ]:
foo()

In [33]:
with open("../data/prices.txt", "r") as f:
    contents = f.read()
lines = contents.split()
print(lines[0:3])
print(f.closed)

['0.605', '0.600', '0.594']
True

In [1]:
import math
math.log(3000)

8.006367567650246

In [2]:
" Hi\n".strip()

'Hi'

In [10]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def __str__(self):
        return f"({self.x},{self.y})"
    
class Rectangle:
    def __init__(self, llx, lly, urx, ury):
        self.ll = Point(llx, lly)
        self.ur = Point(urx, ury)
    def area(self):
        return (self.ur.x - self.ll.x) * (self.ur.y - self.ll.y)

In [12]:
r = Rectangle(0,0, 10, 10)
r.area()

100